@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);



/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.3;
    font-family: 'Roboto Condensed';
    margin: 0;
    padding: 0;
    color: black;
    min-height: 100%;
}

body,
html {
    height: 100%;
    margin: 0;
}

h1 {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0dc5b9;
}

.main-content {
    position: relative;
    font-family: 'Roboto Condensed';
    height: 100vh;
}

/* Header */
header,
footer {
    text-align: center;
    background-color: #212121;
}

header {
    border: 2px solid #212121;
    padding: 2em;
}

/* Logo */
.logo {
    margin-top: -1em;
    padding: .5em;
    max-width: 90%;
    display: block;
}

.logo img {
    height: auto;
    max-width: 100%;
    display: block;
    max-height: 70%;
}

/* navigation */
nav ul {
    display: block;
    align-self: center;
    margin: auto;
}

nav ul li {
    list-style: none;
    padding: .5em;
    border-top: 1px solid;
    line-height: 30px;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: 'Roboto Condensed';
    padding: .5em 1em;
    font-weight: lighter;
}

nav ul li a:hover {
    transition: 0.8s;
    color: #0dc5b9;
}

.current-page {
    color: #0dc5b9;
    border-bottom: 3px solid #0dc5b9;

}

/* Footer */
footer {
    display: block;
    color: #ffffff;
    text-align: center;
}

footer p {
    font-size: 0.75em;
    padding: 0.5em;
    margin-top: 0;
}

/* Index page */
/* Background Image */
.main-content-index {
    background: url("../img/bgimgcrop.png") no-repeat;
    background-size: 100% 100%;
}

/* Text of Home Page */
.caption1 span.border {
    padding: 2em 0 2em 0;
    border: 2em;
}

.caption1 {
    padding-top: 3em;
    color: white;
    padding-left: 5%;
    padding-top: 15%;
    text-align: left;
    font-size: 1.5em;
}

/* About Page */
.main-content-about h1 {
    text-align: left;
    font-size: 2em;
}

section {
    padding: 1% 5%;
}

aside img {
    border-radius: 50%;
    width: 50%;
    height: auto;
    display: block;
    margin: 5% auto;
}


/* Resume Page */

.pdf iframe {
    width: 100%;
    height: 600px;
}

/* Works Page*/

/* lightbox */
.gallery {
    width: 95%;
    border: 2px solid whitesmoke;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.gallery img {
    width: 100%;
}

.item {
    border: 4px solid rgb(58, 58, 58);
}

.works {
    background-color: whitesmoke;
}

.heading {
    text-align: center;
    margin: 3% auto;
}

.row-photo {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column-photo {
    flex: 100%
}

.column-photo img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.column-photo img:hover {
    transition: 0.5s;
    opacity: 0.5;
}

/* Contact Page */

.main-container {
    display: grid;
}

/* Left - Contact icon */

i {
    /* color: rgba(0, 0, 0, 0.24); */
    color: black;
    vertical-align: middle;
}

i:hover {
    color: #0dc5b9;
}

.fa-inverse {
    color: #fff;
}

.contact-heading {
    grid-area: h1;
    font-family: skia;
}

.mail-icon {
    grid-area: mail;
}

.linkedin-icon {
    grid-area: link;
}

.github-icon {
    grid-area: git;
}

.fb-icon {
    grid-area: fb;
}

.ig-icon {
    grid-area: ig;
}

.medium-icon {
    grid-area: med;
}

.icon-container {
    display: grid;
    grid-template-areas:
        'h1 h1 h1'
        'h1 h1 h1'
        'mail link git'
        'fb ig med';
    margin: 350px auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.icon-container>div {
    text-align: center;
    padding: 10px 30px;
    font-size: 20px;
}

.icon p {
    font-size: 11px;
}

/* Right - Contact form */

.contactform-container {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    color: #555;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 20px 45px 20px 30px;
    margin: 100px 0px 100px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

.submi {
    align-items: flex-start;
    border: medium none !important;
    margin: 0 0 0px;
    min-width: 20%;
    padding: 0;
    width: 20%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: rgb(109, 105, 105);
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: black;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px grey;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}


/* END OF Contact form */

/* New Contact Form */
.testform label,
input,
textarea {
    display: block;
}